<div class="container my-5 p-3">
  <h1 class="display-5 fw-bold">Welcome To The Quiz App</h1>
  <p class="col-md-8">
    We warmely welcome you for the quiz. Following are the rules for quiz. Have
    a nice day
  </p>
  <h4>Rules:</h4>
  <ul>
    <li>You have 30 seconds to answer each question.</li>
    <li>There is no negative marking</li>
    <li>The questions are randomized everytime a new game starts!</li>
    <li>Each question contains equal marks</li>
  </ul>
  <div class="name col-md-3 md-3 py-3">
    <label for="name">Enter Your Name:</label>
    <input #name type="text" class="form-control my-3" />
  </div>
  <div class="btn btn-lg" (click)="startquiz()">Start Quiz</div>
  <h1 class="display-6" style="font-family: cursive">All The Best!!</h1>
</div>
